            .img {
                height: 43rem;
                border: 0 solid transparent;
                box-shadow: none;
            }
            .nav {
                position: fixed; z-index: 100; left: 0; font-size: 16px;
            }
            .nav ul {
                list-style-type: none;
                /*display: flex;*/
                flex-wrap: wrap;
                display: block;
                margin-top: 8.5rem;
                margin-left: 0;
            }
            .nav li {
                margin-left: 1rem;
                font-size: 16px;
            }
